<div class="schedule-view">
  <div
    class="card-schedule-wrapper"
    *ngIf="cardView"
  >
    <div
      *ngFor="let day of days"
      class="schedule-card"
    >
      <div class="heading">
        <h3>{{getDayStrFromEnum(day)}}</h3>
      </div>
      <div class="card-class-list">
        <div class="card-list-item"
             *ngFor="let enrSec of this.getClassesForDay(day)"
        >
          <ul>
            <li><em>{{enrSec.isCourse.name}}</em></li>
            <li>Time: {{enrSec.section.timeInterval.start.getFormattedTime()}} - {{enrSec.section.timeInterval.end.getFormattedTime()}}</li>
            <li>Instructor: {{enrSec.section.instructor}}</li>
          </ul>
          <span
            class="drop-button"
            (click)="dropSection(enrSec)"
            >x</span>
        </div>
      </div>
    </div>
  </div>
</div>
