<div class="schedule-view">
  <div
    class="card-schedule-wrapper"
    *ngIf="isCardStyle()"
  >
    <div
      *ngFor="let day of DayOfWeek"
      class="schedule-card"
    >
      {{day}}
      <div class="heading">
        <h3>{{DayOfWeek[day]}}</h3>
      </div>
      <div class="card-class-list">
        <div class="card-list-item"
             *ngFor="let enrSec of this.getClassesForDay(day)"
        >
          <p><em>{{enrSec.isCourse.name}}</em></p>
          <p>Time: {{enrSec.time}}</p>
          <p>Instructor: {{enrSec.instructor}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
