<div class="schedule-view">
  <div
    class="card-schedule-wrapper"
    *ngIf="cardView"
  >
    <div
      *ngFor="let day of days"
      class="schedule-card"
    >
      <div class="heading">
        <h3>{{getDayStrFromEnum(day)}}</h3>
      </div>
      <div class="card-class-list">
        <div class="card-list-item"
             *ngFor="let enrSec of this.getClassesForDay(day)"
        >
          <button
            class="drop-button"
            (click)="dropSection(enrSec)"
            >Drop</button>
          {{day}}
          <p><em>{{enrSec.isCourse.name}}</em></p>
          <p>Time: {{enrSec.section.timeInterval.start.getFormattedTime()}} - {{enrSec.section.timeInterval.end.getFormattedTime()}}</p>
          <p>Instructor: {{enrSec.section.instructor}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
