.tile {
  float: left;
  width: 300px;
  height: 250px;
  background-color: #fff;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  box-shadow: 6px 6px 20px #999;
  position: relative;
}
.section-table {
  width: 100%;
  font-weight: lighter;
}
.unpin-icon {
  /*width: 25px;*/
  height: 25px;
  position: absolute;
  top: 25px;
  left: 250px;
  background-color:red;
  color: white;
}
.heading {
  margin-bottom: 10px;
}
.course-code {
  font-size: 1.35em;
}
.course-title {
  font-size: 1em;
}

