<div
  [ngClass]="{enrolled: enrolledFlag === true}"
  class="tile">
  <div class="heading">
    <div>
      <div class="course-code">{{course.name}}</div>
      <div class="course-title">{{course.title}}</div>
    </div>
    <span
      (click)="unpin(course)"
      class="unpin-icon">x</span>
  </div>
  <div class="tile-content-content">
    <div class="tile-content-section">
      <button
        (click)="showSectionsToggle()"
      >Show Sections</button>
      <table
        *ngIf="showSections === true"
        class="section-table">
        <tr>
          <th></th>
          <th>Section#</th>
          <th>Instructor</th>
          <th>Days</th>
          <th>Time</th>
        </tr>
        <tr *ngFor="let section of course.courseSections">
          <td>
            <button
              (click)="enrollInSection(section)">
              Enroll
            </button>
          </td>
          <td>{{section.id}}</td>
          <td>{{section.instructor}}</td>
          <td>{{section.days}}</td>
          <td>{{section.timeInterval.start.getFormattedTime()}} - {{section.timeInterval.end.getFormattedTime()}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
