$clr-status-enrolled: #5CB85C;
$clr-status-waitlisted: #0275D8;
$clr-status-conflict: #D8534F;

.tile {
  margin: 13px;
  background: white;
  position: relative;
  padding: 10px;
  float: left;

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 4px 4px 9px #999;

  &.enrolled {
    background: $clr-status-enrolled;
  }
  &.waitlist {
    background: $clr-status-waitlisted;
  }
  &.schedule-conflict {
    background: $clr-status-conflict;
  }

  .heading {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
  }

  .content {
    display: flex;
    flex-direction: column;

    .content-section {

    }
  }
}

.unpin-icon {
  width: 15px;
  //height: 25px;
  //position: absolute;
  //top: 10px;
  //left: 180px;
  text-align: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
}


