.filter-list {
  width: 200px;
  height: 100%;
  /*position: fixed;*/
  float: left;
  background-color: pink;
}

.search-results {
  float: left;
  background-color: lime;
}

.table {

}

.table td {
  padding: 5px;
}

.table-staggered tr:nth-child(2n) {
  background-color: #F1F1F1;
}
